

<div class="container">
  <div class="row">
    <div class="col-8">
    <%= simple_form_for @competition do |f| %>
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.input :image %>
      <%= f.input :rule %>
      <%= f.input :award %>
      <%= f.input :max_entries %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
    </div>

  </div>
</div>
