

<div class="container">
  <div class="row">
    <div class=" col-sm-12 col-lg-6 my-5 mx-auto">
    <div class="form-box ">
    <%= simple_form_for @competition do |f| %>
      <%= f.input :name %>
      <%= f.input :category, collection: Competition::ALLOWED_CATEGORIES %>
      <%= f.input :price %>
      <%= f.input :image %>
      <%= f.input :rule %>
      <%= f.input :award %>
      <%= f.input :max_entries %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
    </div>
    
    </div>

  </div>
</div>
