<div class="banner-back-guideline" style="background-image: url('<%= @competition.image %>')">
  <div class="banner-guideline">
    <h2><%= @competition.name %></h2>
    <p>Guidelines: <%= @competition.rule %></p>
    <p>Participants: <%= @competition.participations.count %>/<%= @competition.max_entries %></p>
    <p><%= @competition.ends_in%></p>
    <%= link_to 'Participate', competition_participations_path(@competition), method: :post, class: 'btn btn-stryfy' unless @participations.present?  %>
    <%= link_to 'Participated', competition_participations_path(@competition), method: :post, class: 'btn btn-success disabled' if @participations.present? %>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <% @competition.participations.each do |p| %>
      <div class="col-4 my-2">
        <%= link_to p do %>
          <div class="card">
            <div class="card-top" style="background-image: url('<%= cl_image_path p.photo.key if p.photo.present? %>');">
            </div>
            <div class="card-bottom">
              <div class="d-flex justify-content-between p-2">
                <p> By <%= p.user.full_name if p.user.present? %></p>
                <p><%= p.votes.count %> <%=  "Vote".pluralize(p.votes.count) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
  </div>
</div>

