<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "trophy.svg" %>
    <h4 class="d-inline white-text"> <strong>Stryfe</strong></h4>
    <% end %>


  <div class="" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <%= link_to dashboard_path(params: {partial: "overview"}) do %> 
           <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-bordered" %>
        <% else %>
            <%= image_tag "https://image.flaticon.com/icons/svg/3170/3170738.svg", class: "avatar" %>
          <% end %>
        <% end %>
      <% else %>
         <%= link_to "Login", new_user_session_path, class: " btn btn-stryfy" %>
      <% end %>
  </div>
</div>
