
  <div class="col-sm-12 col-lg px-5 my-5">
    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <div class="dashboard-box">
        <%= image_tag "earning.png" %>
        <h4>
          <strong>$<%= current_user.money_earned %></strong> 
          <br> <span>Earned</span>
        </h4> 
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="dashboard-box">
        <%= image_tag "spending.png" %>
        <h4>
        <strong>
        $<%= current_user.money_spent %>
        </strong>
          <br> <span>Invested</span>
        </h4>  
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="dashboard-box">
          <%= image_tag "web.png" %>
          <h4>
          <strong>
          <%= current_user.votes.verified.count %>
          </strong>
          
          <br> <span><%= "Vote".pluralize(current_user.votes.count) %>  Received</span>
          </h4>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
      <div class="dashboard-box">
      <%= image_tag "view.png" %>
      <h4>
        <strong><%= current_user.total_views %></strong>
        <br> <span>Views Received <br>
        <span class="link-style" id="country-btn">(see countries)</span>
        </span>
      </h4>
      </div>
    </div>
  </div>
  <%= column_chart current_user.views.group(:country).count, id: "chart-views", class: "mt-4" %>
  <div class="row my-5">
    <h2 class="col-12 heading-1">
      Your participations
    </h2>
    <% if current_user.participations.empty? %>
      <p class="ml-4">Nothing to show at the moment <br><%= link_to "Start Browsing", competitions_path, class: "btn btn-stryfy" %></p>
    <% end %>
    <% current_user.participations.each do |p| %>
    <div class="col-sm-12 col-lg-4">
    <%= link_to p do %>
      <div class="card">
        <div class="card-top" style="background-image: url('<%= cl_image_path p.photo.key if p.photo.present? %>')">

        </div>
        <div class="card-bottom">
          <p>Contest: <%= p.competition.name  %></p>
          <p>Votes: <%= p.votes.count  %></p>
          <p>Category: <%= p.competition.category  %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="row my-5">
    <h2 class="col-12 heading-1">
      Contests you might like
    </h2>
    <% if current_user.recommendations.empty? %>
      <p class="ml-4">Nothing to show at the moment <br><%= link_to "Start Browsing", competitions_path, class: "btn btn-stryfy" %></p>
    <% end %>
    <% current_user.recommendations.each do |c| %>
        <div class="col-sm-12 col-lg-4">
          <%= link_to c do  %>
          <div class="card">
            <div class="card-top" style="background-image: url('<%= c.image %>')">
            <div class="badge badge-purple p-2 m-2">
                <%= c.ends_in %>
              </div>
            </div>
            <div class="card-bottom d-flex justify-content-between">
              <div>
                <h4><strong><%= c.name %></strong></h4>
                <p><%= c.participations.count %>/<%= c.max_entries %> Participants</p>
                <p>Cost: <%= humanized_money_with_symbol c.price %></p>
                <h4>Prize: $<%= c.award %></h4>
              </div>
            </div>
         </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>