<div class="row">
  <div class="col-sm-12 col-lg-3 my-5 px-5">
    <div class="left-menu p-5">
    <%= link_to dashboard_path(params: {partial: "overview"}) do %>
      <div class="left-menu-item <%= 'active' if params[:partial] == 'overview' %>">
        <%= cl_image_tag current_user.photo.key, class: "avatar" if current_user.photo.attached? %>
        <%= image_tag "https://image.flaticon.com/icons/svg/3170/3170738.svg", class: "avatar" unless current_user.photo.attached? %>
        <h4 class="d-inline bold"> <%= current_user.first_name.truncate(15) %> </h4>
      </div>
    <% end %>
      <%= link_to dashboard_path(params: {partial: "settings"}) do  %>
        <div class="left-menu-item <%= 'active' if params[:partial] == 'settings' %>">
          <%= image_tag "settings.png", class: "avatar" %>
          <p class="d-inline">Settings</p>
        </div>
      <% end %>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="left-menu-item ">
          <%= image_tag "loudspeaker.png", class: "avatar" %>
          <p class="d-inline">Referral</p>
        </div> 
        </a>
     
      <%= link_to destroy_user_session_path, method: :delete do%>
      <div class="left-menu-item">
        <%= image_tag "power-off.png", class: "avatar" %>
        <p class="d-inline">Log out</p>
      </div> 
      <% end %>
    </div>
  </div>
    <%= render "#{params[:partial]}" %>
  </div>


  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Referrer a friend and both earn 4$ to participate in contests</p>
        <button id="link-btn" onclick="copyLinkToClipboard(<%= current_user.id %>)" type="button" class="btn btn-stryfy w-100">Copy Referral Link</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

   <script>
    const url = "www.stryfe-app.herokuapp.com/users/sign_up?referrer=";
    const copyLinkToClipboard = (user_id) => {
      navigator.clipboard.writeText(url + user_id).then(function() {
        const linkBtn = document.getElementById("link-btn");
        linkBtn.textContent = "Link Copied"
        linkBtn.classList.add("disabled")
      }, function(err) {
        console.error('Async: Could not copy text: ', err);
      });
    }
    
   </script>

  