<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <div class="dashboard-box">
        <%= image_tag "earning.png" %>
        <h4>
          <strong>$<%= current_user.money_earned %></strong> 
          <br> <span>Earned</span>
        </h4> 
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="dashboard-box">
        <%= image_tag "spending.png" %>
        <h4>
        <strong>
        $<%= current_user.money_spent %>
        </strong>
          <br> <span>Invested</span>
        </h4>  
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="dashboard-box">
          <%= image_tag "web.png" %>
          <h4>
          <strong>
          <%= current_user.votes.count %>
          </strong>
          
          <br> <span><%= "Vote".pluralize(current_user.votes.count) %>  Received</span>
          </h4>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
      <div class="dashboard-box">
      <%= image_tag "view.png" %>
      <h4>
        <strong><%= current_user.total_views %></strong>
        <br> <span>Views Received</span>
      </h4>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <h2 class="col-12">
      My participations
    </h2>
    <% current_user.participations.each do |c| %>
    <div class="col-4">
      <div class="card">
        <div class="card-top" style="background-image: url('<%= c.competition.image %>')">

        </div>
        <div class="card-bottom">
          <h2><%= c.competition.name %></h2>
          <%= link_to 'See my post', c, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
<%= geo_chart View.group(:country).count %> 
    <% end %>
  </div>
</div>