<div class="row">
  <div class="col-sm-12 col-lg-3 my-5 px-5">
    <div class="left-menu p-5">
    <%= link_to dashboard_path(params: {partial: "overview"}) do %>
      <div class="left-menu-item <%= 'active' if params[:partial] == 'overview' %>">
        <%= cl_image_tag current_user.photo.key, class: "avatar" if current_user.photo.attached? %>
        <%= image_tag "https://image.flaticon.com/icons/svg/3170/3170738.svg", class: "avatar" unless current_user.photo.attached? %>
        <h4 class="d-inline bold"> <%= current_user.first_name.truncate(15) %> </h4>
      </div>
    <% end %>
      <%= link_to dashboard_path(params: {partial: "settings"}) do  %>
        <div class="left-menu-item <%= 'active' if params[:partial] == 'settings' %>">
          <%= image_tag "settings.png", class: "avatar" %>
          <p class="d-inline">Settings</p>
        </div>
      <% end %>
      <%= link_to dashboard_path(params: {partial: "referrals"}) do  %>
        <div class="left-menu-item <%= 'active' if params[:partial] == 'referrals' %>">
          <%= image_tag "loudspeaker.png", class: "avatar" %>
          <p class="d-inline">Referral</p>
        </div>
      <% end %>
        
     
      <%= link_to destroy_user_session_path, method: :delete do%>
      <div class="left-menu-item">
        <%= image_tag "power-off.png", class: "avatar" %>
        <p class="d-inline">Log out</p>
      </div> 
      <% end %>
    </div>
  </div>
    <%= render "#{params[:partial]}" %>
  </div>