<div class="row">
  <div class="col-sm-12 col-lg-3 my-5 px-5">
    <div class="left-menu p-5">
    <%= link_to dashboard_path(params: {partial: "overview"}) do %>
      <div class="left-menu-item">
        <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% else %>
            <%= image_tag "https://image.flaticon.com/icons/svg/3170/3170738.svg", class: "avatar" %>
        <% end %>
        <h4 class="d-inline bold"> <%= current_user.full_name %> </h4>
      <% end %>
      </div>
      <%= link_to dashboard_path(params: {partial: "settings"}) do  %>
        <div class="left-menu-item">
          <%= image_tag "settings.png", class: "avatar" %>
          <p class="d-inline">Settings</p>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do%>
      <div class="left-menu-item">
        <%= image_tag "power-off.png", class: "avatar" %>
        <p class="d-inline">Log out</p>
      </div> 
      <% end %>
    </div>
  </div>
    <%= render "#{params[:partial]}" %>
  </div>

   

  