

<div class="row p-5" style="background-color: #5100CA">
  <div class="col-sm-12 col-lg-8 p-5">
    <h2 class="white-text heading-1">Participate in Contests <br>& Earn Money</h2>
    <hr class="white-line">
    <p class="subheading white-text">THE PARTICIPANT WITH THE MOST VOTES WINS THE AWARD!</p>
    <div style="position: absolute;"   class="buttons">
      <%= link_to 'Browse contests', competitions_path, class: 'btn btn-success my-2'  %>
      <a class="btn btn-outline-light my-2" href="#howItWorks">How does it work</a>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 p-5">
  <div class="right-banner-container">
    <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/2997/2997005.svg", width: "200px", class: "mt-5" %>
  </div>
  </div>
</div>
<%= image_tag "wave.png", width: "100%" %>

<div class="container my-5">
    <div class="row my-5">
      <h1 class="heading-1 col-12">Popular Contests</h1>
      <% @comp.each do |c| %>
        <div class="col-sm-12 col-lg-4 my-2">
          <%= link_to c do  %>
          <div class="card">
            <div class="card-top" style="background-image: url('<%= c.image %>')">
            <div class="badge badge-purple p-2 m-2">
                <%= c.ends_in %>
              </div>
            </div>
            <div class="card-bottom d-flex justify-content-between">
              <div>
                <h4><strong><%= c.name %></strong></h4>
                <p><%= c.participations.count %>/<%= c.max_entries %> Participants</p>
                <p>Cost: <%= humanized_money_with_symbol c.price %></p>
                <h4>Prize: $<%= c.award %></h4>
              </div>
            </div>
         </div>
        </div>
        <% end %>
      <% end %>
  </div>

  <div class="row">
    <h1 class="heading-1 col-12">Recent winners</h1>
      <% @winners.each do |w| %>
        <div class="col-sm-12 col-lg-4 my-2">
      <div class="card">
        <div class="card-top" style="background-image: url('<%= cl_image_path w.participation.photo.key if w.participation.photo.present? %>');">
        </div>
        <div class="card-bottom">
          <div>
            <p> By <%= w.participation.user.full_name %></p>
          </div>
          <div>
            <p><%= w.participation.votes.count %> Votes</p>
          </div>

          <h2></h2>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>

<section style="background-color: white">
  <div class="container">
    <div class="row" id="howItWorks">
      <div class="col-sm-12 col-lg-4">
        <h2><img class="step-icon" src="https://image.flaticon.com/icons/svg/752/752664.svg" alt=""></h2>
        <p>Find a contest you feel comfortable being a part of</p>
      </div>
      <div class="col-sm-12 col-lg-4">
        <h2> <img class="step-icon" src="https://image.flaticon.com/icons/svg/752/752665.svg" alt=""></h2>
        <p> Get verified and upload your picture to a contest. </p>
      </div>
      <div class="col-sm-12 col-lg-4">
        <h2><img class="step-icon" src="https://image.flaticon.com/icons/svg/752/752666.svg" alt=""></h2>
        <p>Ask your social media fans to vote for you to increase chances</p>
      </div>
    </div>
  </div>
</section>